copyright_newhints
stamp-autotools-files
stamp-copyright-check
stamp-upstream-cruft
files
nodejs-dbg.debhelper.log
nodejs-dbg.substvars
nodejs-dev.debhelper.log
nodejs-dev.substvars
nodejs-dev/
nodejs-legacy.debhelper.log
nodejs-legacy.substvars
nodejs-legacy/
nodejs.debhelper.log
nodejs.substvars
nodejs/
nodejs-dbg/
stamp-autotools
stamp-makefile-build
stamp-makefile-check
stamp-makefile-install
